.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.login-card {
    position: fixed;
    width: 250px;
    height: 350px;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
}
.hotel-list-card{
    width: 260px;
    height: 150px;
    margin: 5px;
    background-color: #EDEDED;
}
@media only screen and (min-width : 1366px){
    .hotel-list-card{
        width: 250px;
    }
}