.card{
    padding: 10px;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
.login-card {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
}