.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.login-card {
    position: fixed;
    width: 250px;
    height: 350px;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
}
.hotel-list-card{
    width: 260px;
    height: 170px;
    margin: 5px;
    background-color: #EDEDED;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2) ;
}
@media only screen and (min-width : 1367px){
    .hotel-list-card{
        width: 400px;
        height: 225px;
    }
}