.loginPage {
    width: 100%;
    height: 100%;
    background-image: url("../Assets/Photo/home_bg.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-heading{
    margin-block-start: 0.5em;
    margin-block-end: 0;
}
.login-sub-heading{
    margin-block-start: 0.3em;
    margin-block-end: 0;
}