.heading {
    font-family: "heading-font";
    color: white;
    font-size: 72px;
}
.heading2 {
    font-family: "heading-font";
    color: white;
    font-size: 18px;
}
.heading3 {
    font-family: "heading-font-thick";
    color: #0085FF;
    font-size: 24px;
}
.content{
    font-family: "heading-font";
    color: white;
    font-size: 13px;
}
.greyText{
    color: #888888;
}
.leftText{
    text-align: left;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.thaiFont{
    font-family: "thaiFont";
}
.thaiFont-thick{
    font-family: "thaiFont-thick";
}
@font-face {
    font-family: 'heading-font';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: 'heading-font-thick';
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: 'thaiFont';
    src: url("../fonts/Kanit/Kanit-Light.ttf");
}
@font-face {
    font-family: 'thaiFont-thick';
    src: url("../fonts/Kanit/Kanit-Regular.ttf");
}